@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sniglet:wght@400;800&display=swap');
*{padding: 0; margin: 0;}
header, section{
    overflow-x: hidden;
}
:root{
    --acme: "Acme", sans-serif;
    --lobs: "Lobster", sans-serif;
    --sniglet: "Sniglet", system-ui;
    --patua: "Patua One", serif;
    --rubik: "Rubik", sans-serif;
    --bg_gradiant: #F8483C;
    --gradiant: linear-gradient(0deg,rgb(238, 63, 19) 0%, rgba(223, 39, 114, 1) 100%);
}
/*our css*/

html {
      scroll-behavior: smooth;
    }
header{
    background: var(--bg_gradiant);
    background: var(--gradiant);
}
header a{
    color: #fff !important; 
    font-family: var(--sniglet);
}
.header a:hover{
    transition: all 0.3s ease 0s;
}
header a.dropdown-item{
    color: #000 !important;
}
.left_panel{
    color: #fff; 
    padding: 365px 0px; 
    margin-left: 15px 0px;
}
.left_panel h1{
    font-size: 45px; 
    font-weight: 700;
}
.left_panel p{
    padding-top: 20px; 
    padding-bottom: 20px;
}
.right_panel img{
    width: 500px; 
    padding-top: 20vmin; 
    -webkit-animation: mover 2s infinite alternate; 
    animation: mover 1s infinite alternate;
}
/* @-webkit-keyframes mover { 
    0%{transform: translateY(0);} 100%{transform: translateY(-10px);}
} */
@keyframes mover{
     0% {transform: translateY(0%);} 100%{transform: translateY(-10px);}
    }
.menu {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 2; 
    left: 0; 
    right: 0; 
    background-color: rgba(34, 34, 34, 0.9);
     }
/* .menu .menu-scrolled {
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    background: rgba(34, 34, 34, 0.7); transition: all 0.5s;
} */
/* .navbar-nav li > a:after {
    content: ''; 
    display: block; 
    width: 0; 
    height: 2px; 
    background: #fff; 
    transition: width .3s;
}
.navbar-nav li > a:hover::after {
    width: 100%; 
    transition: width .3s;
} */

/* second section */

.left_sec_1 img{
    width: 100%; 
    opacity: 0.7; 
    padding: 10vmin 0vmin;
}
.right_sec_1 {
    position: relative;
}
.right_sec_1_box{
    position: absolute; 
    top: 25vmin; 
    left: -10vmin; 
    z-index: 1; 
    padding: 80px 20px 160px 20px; 
    background-color: #fff; 
    text-align:left; 
    box-shadow: 5px 15px 5px 15px rgba(0, 0, 0, 0.2);
}
.right_sec_1 p{
    font-family: var(--rubik); 
    padding: 0px 10px;
}
.right_sec_1 h1{
    padding-bottom:25px;
}
.right_sec_box_h1{
    margin-bottom: 0px; 
    font-family: var(--rubik);
}

/* .section-gap {padding-bottom: 10px;} */
/* .right_panel_sec_box_p{padding: 30px 10px 30px 10px;} */

/* Third Section */

.cover{
    background: url(/assets/freinds-photo-452738.jpeg); 
    width: 100%; 
    height: 35vmin; 
    background-size: 130%; 
    background-position: -40vmin -40vmin; 
    text-align: center; 
    position: absolute;
}
.content {
    color:#fff; 
    background: rgba(0, 0, 0, 0.4); 
    padding-top: 10vmin; 
    height: 100%;
}
.content h1{
    font-family:var(--acme);
}
.cover{
    position: relative;
}
.number {
    position: absolute; 
    z-index: 1; 
    background-color: #fff; 
    box-shadow: 3px 8px 8px 3px; 
    color: rgb(250, 108, 82); 
    padding: 30px 5px;
}
.number :hover{
    color: rgb(11, 128, 238);
}
.number h1{
    font-family: var(--rubik); 
    color: rgb(250, 108, 82); 
    font-size: 60px;
}
.number p{
    font-family: var(--patua); 
    color: #222;
}
.rect{
    margin-top: -10vmin;
}


/* Fourth Section */

.jm{
    margin: 10vmin 10vmin; 
    font-family: var(--acme);
}
.box h3{
    font-size: 35px;
}
.box{
    border: solid 1px; 
    color: #000; 
    padding: 0px !important;
}
.box h3{
    padding: 5vmin 0vmin; 
    background-color: antiquewhite; 
    font-family: var(--acme);
}
.box p{
    padding: 10vmin 10vmin; 
    font-family: var(--rubik);
}
.box button{
    margin-top: 5vmin; 
    font-size: 16px; 
    color: #fff; 
    margin-bottom: 5vmin;
    padding: 10px 0px; 
    background-color: #000; 
    width: 200px;
}
.box h1{
    padding-left: 40px; 
    padding-right: 40px;
}
.curve_box{
    border-radius: 200px 200px 0px 0px; 
    background-color: antiquewhite; 
    padding: 5vmin 0vmin;
}
.container-fluid.p-0.text-center.jg{
    padding: 10vmin 0vmin !important; 
    margin: 20vmin 0vmin 15vmin 0vmin;
}
.box p{
    padding: 0vmin 10vmin;
}
.box h2{
    padding-top: 15vmin; 
    font-size: 50px;
}
.section-gap{
    padding: 10px 0;
}


/* Fifth Section */

.jg{
    background: var(--gradiant); 
    background: var(--bg_gradiant); 
    width: 100%; 
    height: 100%; 
    color: #fff;
}
.jg button{
    background-color: #fff; 
    padding: 10px 0px; 
    width: 200px; 
    margin: 10px; 
    font-size: 25px;
}

/* Six Section */

.jg_1{
    margin-top: 12vmin;
}
.jg_1 h2{
    font-family: var(--patua);
}
.jg_1 p{
    font-family: var(--patua);
}
.container-fluid.p-0.text-center.jg_1{
    padding-bottom: 5vmin !important; 
    margin: 5vmin 0vmin 5vmin 0vmin;
}
.jg_2{
    margin: 2vmin 0vmin 2vmin 0vmin; 
    background-color: #fff; 
    box-shadow: 15px 10px 10px 15px rgba(0,0,0,0.1); 
    padding: 6vmin 10vmin 10vmin 6vmin;
}
.jg_2 h3{
    padding: 10px 10px;
}
.jg_2 p{
    font-family: var(--lobs);
}
.section-gap {
    padding: 40px 0;
}


/* Seventh Section */

.jg_4{
    margin: auto;
}
.jg_5{
    margin: auto;
}
.jg_5 button{
    background-color: rgb(230, 64, 42);
}
.jg_5 i{
    color: #fff;
}
.jg_6{
    margin: auto;
}
.jg_6 i{
    color:rgb(230, 64, 42);
}
.sec{
    padding: 5vmin 40vmin 5vmin 40vmin; 
    background-color: #222; 
    height: 50%; 
    margin-top: 15vmin; 
    color: #fff;
}
.form-control{
    background-color: #191919 !important;
}
.click-btn{
    padding: 8px 12px; 
    background-image:-webkit-linear-gradient(#f45622);
}
.fa-solid{
    padding-right: 10px;
}
.fa-brands{
    padding-right: 10px;
}
.jg p{
    margin: 5vmin 45vmin; 
    font-family: var(--sniglet);
}



/* Mobile view */

@media screen and (max-width: 767px) {.left_panel {padding: 95px 0px 40px 0px;} .right_panel img{width: 60%;} 
.right_sec_1_box {position: inherit; top: 0vmin; left: 0vmin; padding: 0px 10px;} .rect {position: inherit; margin-top: 10vmin;} .number{margin: 10px 0px; width: 50%;}
.number h1 {padding: 0px -50px;} .number p{padding: 0px -50px;} .box {margin: 5px 0px;} .jg p{margin: 5vmin;} .sec{padding: 5vmin 5vmin;} .content{padding-top: 9%;} .content h1{font-size: 1.8rem;}
}

@media(max-width:991px){
  .left_panel{text-align:center;padding:20vmin 5vmin;}
  .right_panel img{max-width:350px;}
  .right_sec_1_box{padding:30px 20px;}
  .sec{padding:8vmin 5vmin;}
}

@media(max-width:480px){
  .left_panel h1{font-size:1.6rem;}
  .number{flex:1 1 100%;max-width:100%;}
}


 
  
