@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sniglet:wght@400;800&display=swap');

*{
    padding: 0;
    margin: 0;
}

header, section{
    overflow-x: hidden;
}

:root {
    --acme: "Acme", sans-serif;
    --lobs: "Lobster", sans-serif;
    --sniglet: "Sniglet", system-ui;
    --patua: "Patua One", serif;
    --rubik: "Rubik", sans-serif;
    --bg_gradiant: #F8483C;
    --gradiant: linear-gradient(0deg, rgb(238, 63, 19) 0%, rgba(223, 39, 114, 1) 100%);
}

/*our css*/

html {
    scroll-behavior: smooth;
}

header{
    background: var(--bg_gradiant);
    background: var(--gradiant);
}

header a{
    color: #fff !important;
}

.header a:hover{
    transition: all 0.3s ease 0s;
}

header a.dropdown-item{
    color: #000 !important;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    left: 0;
    right: 0;
    background-color: rgba(34, 34, 34, 0.9);
}

.left_panel {
    height: 600px;
}

.left_panel h2 {
    margin-top: 250px;
}

.text-heading {
    margin-bottom: 30px;
}

.readers {
    background: #fff;
    padding: 100px 0px 70px 0px;
}

/* .section-gap{padding: 100px 0px 70px 20px;
} */
.about-generic-area .border-top-generic {
    padding: 70px 20px;
    border-bottom: 1px dotted #eee;
}

.section-top-border {
    padding: 70px 0px;
    border-top: 1px dotted #eee;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.eliments-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #f53f51;
}

.progress-table .table-row {
    padding: 15px 0px;
    border-top: 1px solid #edf3ed;
    display: flex;
}

.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
    color: #222222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.progress-table .serial {
    width: 11.83%;
    padding-left: 30px;
}

.progress-table .country {
    width: 28.07%;
}

.progress-table .visit {
    width: 19.74%;
}

.progress-table .percentage {
    width: 40.36%;
    padding-right: 50px;
}

.progress-table .table-head {
    display: flex;
}

.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
    display: flex;
    align-items: center;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.progress-table {
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 800px;
}

.progress-table .table-row .country img {
    margin-right: 15px;
}

.progress-table .table-row .percentage .progress {
    width: 80%;
    border-radius: 0px;
    background: transparent;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
}

.progress-table .table-row .percentage .progress .progress-bar {
    height: 5px;
    line-height: 5px;
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
    background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
    background-color: #e66686;
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
    background-color: #f09359;
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
    background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
    background-color: #9d24e2;
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
    background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
    background-color: #000000;
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
    background-color: #e66686;
}
.progress-table-wrap {
    overflow-x: scroll;
}
.col-md-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    color: #777777;
}

.switch-wrap {
    margin-bottom: 10px;
}

.switch-wrap p {
    margin: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.list-style {
    width: 14px;
    height: 14px;
}

.unordered-list li {
    position: relative;

    font-weight: 500;
    line-height: 1.82em !important;
    color: #777777;

}

.unordered-list {
    margin-left: 30px;
}

.ordered-list li {
    font-weight: 500;
    line-height: 1.82em !important;
    color: #777777;
}

.ordered-list {
    margin-left: 30px;
}

.mb-30 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 15px;
}

.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input:focus {
    outline: none;
}

.input-group-icon {
    position: relative;
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3;
}

.input-group-icon .icon i {
    color: #797979;
}

.input-group-icon .single-input {
    padding-left: 45px;
}

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none;
}

.single-textarea:focus {
    outline: none;
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input-primary:focus {
    outline: none;
    border: 1px solid #f53f51;
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55;
}

.single-input-Secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input-Secondary:focus {
    outline: none;
    border: 1px solid #f09359;
}

.default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.default-switch input + label {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f53f51;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.default-switch input:checked + label {
    left: 19px;
}

.primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.primary-switch input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.primary-switch input + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.primary-switch input + label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.primary-switch input:checked + label:after {
    left: 19px;
}

.primary-switch input:checked + label:before {
    background: #f53f51;
}

.confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.confirm-switch input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.confirm-switch input + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    cursor: pointer;
}

.confirm-switch input + label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.confirm-switch input:checked + label:after {
    left: 19px;
}

.confirm-switch input:checked + label:before {
    background: #4cd3e3;
}

.primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.primary-checkbox input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.primary-checkbox input:checked + label {
    background: url(../assets/primary-check.png) no-repeat center center/cover;
    border: none;
}

.confirm-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.confirm-checkbox input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.confirm-checkbox input:checked + label {
    background: url(../assets/success-radio.png) no-repeat center center/cover;
    border: none;
}

.disabled-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.disabled-checkbox input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.disabled-checkbox input:disabled {
    cursor: not-allowed;
    z-index: 3;
}

.disabled-checkbox input:checked + label {
    background: url(../assets/disabled-check.png) no-repeat center center/cover;
    border: none;
}

.primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.primary-radio input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.primary-radio input:checked+label {
    background: url(../assets/primary-radio.png) no-repeat center center/cover;
    border: none;
}

.confirm-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.confirm-radio input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.confirm-radio input:checked + label {
    background: url(../assets/success-radio.png) no-repeat center center/cover;
    border: none;
}

.disabled-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}

.disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.disabled-radio input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.disabled-radio input:disabled {
    cursor: not-allowed;
    z-index: 3;
}

.disabled-radio input:checked+label {
    background: url(../assets/disabled-radio.png) no-repeat center center/cover;
    border: none;
}

.default-select {
    height: 40px;
}

.default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px;
}

.default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px;
}

.default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ea 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px;
}

.default-select .nice-select .list .option.selected {
    color: #f53f51;
    background: transparent;
}

.default-select .nice-select .list .option:hover {
    color: #f53f51;
    background: transparent;
}

.default-select .current {
    margin-right: 50px;
    font-weight: 300;
}

.default-select .nice-select::after {
    right: 20px;
}

.form-select {
    height: 40px;
    width: 100%;
}
.element.style {
    display: none;
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
    outline: none;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.nice-select .list {
    background-color: #fff;
    box-sizing: border-box;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .option {
    cursor: pointer;
    list-style: none;
    outline: none;
    padding-right: 29px;
    text-align: left;
}

.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.nice-select.open:after {
    transform: rotate(-135deg);
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300;
}

.form-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%;
}

.form-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px;
}

.form-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ea 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 45px;
}

.form-select .nice-select .list .option.selected {
    color: #f53f51;
    background: transparent;
}

.form-select .nice-select .list .option:hover {
    color: #f53f51;
    background: transparent;
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300;
}

.form-select .nice-select::after {
    right: 20px;
}


.jk_4 {
    margin: auto;
}

.jk_5 {
    margin: auto;
}

.jk_5 button {
    background-color: rgb(230, 64, 42);
}

.jk_5 i {
    color: #fff;
}

.jk_6 {
    margin: auto;
}

.jk_6 i {
    color: rgb(230, 64, 42);
}

.sec {
    padding: 5vmin 40vmin 5vmin 40vmin;
    background-color: #222;
    height: 50%;
    margin-top: 15vmin;
    color: #fff;
}

.form-control {
    background-color: #191919 !important;
}

.click-btn {
    padding: 8px 12px;
    background-image: -webkit-linear-gradient(#f45622);
}

.fa-solid {
    padding-right: 10px;
}

.fa-brands {
    padding-right: 10px;
}

.jg p {
    margin: 5vmin 45vmin;
    font-family: var(--sniglet);
}
.Unordered-List li::marker {
    padding-left: 0px 10px !important;
}





@media only screen and (max-width: 767px) {.sec{padding: 5vmin 5vmin;} .jg p{margin: 5vmin;} .col-md-4{padding-left: 15px;} }



